html, body{
    padding:0px;
    margin:0px;
    height: 100%;
}
.web{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.TOPTOP{
    height: 60px;
}
.CABECERATOP{
    height: 40px;
}
.CABECERABOTTOM{
    height: 40px;
}

.CUERPO{
     max-width: 100%;
     min-width: 90%;
     float: left;
}

.CABECERA{
   height: 90px;    
}

.RIGHTRIGHT{
    width: 10%;
    float:right;
    height: 500px;
}

.blanco{
      background: white;
}
.azul{
    background: #0077b3;
}

.rojo{
    background: #D83526;
}

.verde{
    background: #398439;
}

.naranja{
    background: #F4AB51;
}

.gris{
    background: #CCC;
}

.marron{
    background: #962329;
}

.amarillo{
    background: #ff0;
}

.noticia.titulo{
    font-size: 1.5em;
    padding: 5px;
    
}
.noticia.entradilla{
    font-size: 1.2em;
    padding: 5px;
    padding-bottom: 25px;
}

.otrasnoticias .seccion{
    padding-top: 20px;
}

.otrasnoticias .titulo{
    color:#59636d;
    font-size: 1.3em;
    padding: 5px;
    padding-left: 25px;

}

.noticia.entradilla{
    color:#59636d;
    font-size: 1.1em;

}


.noticia.img{
    margin: 50px;
    padding:50px;
}

.noticia.texto{
    color:#59636d;
    font-size: 1.1em;
    padding-left: 15px;

}

.row.otrasnoticias{
    background: white;
    padding-top: 50px;
    
}

