
html,body{
	padding:0;
	margin:0;
	height:100%;
	font-family: Helvetica,Arial,sans-serif;
	font-size:14px;
	color:#C11;
}

form {
	background: #FAFAFA;
	
}
textarea{
	width: 98%;
}
table{
	width: 100%;
}

table tr td {
	padding: 5px;
	margin:5;
	border: 1px solid #CCC;	
	background: #FFF;
}

table tr th {
	padding: 5px;
	margin: 5px;
	border: 1px solid red;
	background: #FFF;
}

h2 {
	font-size:12px;
	font-weight:bold;
	color:#C00;
}

button{
	font-size:10px;
	font-weight:bold;
	color:#000;
}
.login_container{
	margin:auto;
	border:1px solid #CCC;
	max-width:250px;
	margin-top:200px;
	padding:20px;
}

.login{
	margin:auto;
}

#container{
	position:absolute;
	width:100%;
	height:100%;
}
#menu{
	min-width:150px;
	max-width:150px;
	float:left;
	height:100%;
	border-right: 1px solid red;
	text-decoration: none;	
	position:absolute;
}
#menuItem{
	padding:5px;
	margin:5px;
	border:1px solid red;
	color: black;
	text-decoration: none;
}
a{
	color:#000;
text-decoration:none;
}
a:HOVER{
text-decoration:none;

}
a #menuItem{
	color: black;
	background:#FFF;
	text-decoration: none;
	
}
a #menuItem:HOVER{
	color: white;
	background:#000;
	text-decoration: none;
}


#componente{
	position:absolute;
	top: 60px;
	left:170px;
	float:left;
	width:85%;
	
}
#top{
	border-bottom: 1px solid red;
	margin-left: 150px;
	height:40px;	
	color: #000;
}
#top #cerrarSesion{
	float: right;
	height:100%;
	line-height:40px;
	margin-right:5px;
}

#top #displaynamecom{
	float: left;
	height: 100%;
	margin-left: 50%;
	line-height: 40px;
	
}

#separador{
	height:35px;
}

.wrap{
	width: 100%;
	height: 100%;
}